{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Bienvenue sur notre page d'accueil</h2>

    </div>
        </div>

   
{% endblock %}
