{% extends 'base.html.twig' %}

{% block title %}Message Commade{% endblock %}

{% block body %}

    <div class="container">
        <h1>Votre commande a bien été prise en compte</h1>
    </div>
    
{% endblock %}